/* COMMON */

:root{
    --bg-color: rgb(108, 150, 197);
    --black: #000000;
}

body{
    background-color: var(--bg-color);
}
#container{
    border: 1px solid var(--black);
}
#container img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.description{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    text-shadow: 2px 2px 8px #ffffff;
}
#container2{
    position: relative;
}
#container2 img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#container img:hover{
    opacity: 0.8;
}

#container2 .col{
    padding: 0;
}

#btn1{
    position: absolute;
    left: 0;
    bottom: 0;
}
#btn2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.imageThumb{
    cursor: pointer;
}

.slider{
    border: 1px solid var(--black);
}